{% extends "base.html" %}

{% block title %}Ads? On *my* site?{% endblock %}
{% block label %}Subdirectory view / Data fragment{% endblock %}

{% block head %}
    <meta name="description" content="WipEout Pulse, HD, 2048 and MotorStorm Arctic Edge Server Revivals"/>
    <meta name="keywords" content="WipEout, HD, 2048, Pulse, MotorStorm, Arctic Edge, Raging Ice, Server, Revival, Multiplayer, Emulator, Online, AGRF, AG Racing Foundation">
    <meta name="author" content="Antigravity Racing Foundation"/>
    <meta name="robots" content="noindex"/>
{% endblock %}

{% block content %}
<div class="h-full flex-grow w-screen px-6 lg:px-28 mt-10 pb-10 xl:mt-16 xl:mb-0 flex items-center justify-center">
    <article class="items-start">
        <h2 class="flex mb-1 text-sm">
          <img src="{{ url_for('static', filename='images/text_ornament_tiny_square.svg') }}" alt="" aria-hidden="true" class="w-2 mr-1 select-none"/>
          Information Flyout
        </h2>
        <div class="relative px-6 py-6 bg-nc-bg">
            {{ ui.corners() }}
            <h3 class="text-base md:text-lg leading-tight text-agrf-statement">
                Why do we have ads?
            </h3>
            <hr class="w-full border-t-4 mt-2 mb-1 border-nc-light-grey"/>
            <div class="text-xs md:text-base leading-snug max-w-196">
                We don't!<br><br>

                What you see on the Status page if your screen is wide enough
                is just a filler object - a decoration. We added it because we can't scale the
                other objects there easily. The contents of the "ads" are in-universe ads or promotions of actual game events.<br>
                (Except for BallisticNG, we think you should play BallisticNG. We didn't get paid to say this though!)<br><br>

                We're not popular enough to run actual ads :(<br><br>
                <a href="{{ url_for('status') }}" class="hover:underline text-hd-blue">[Want to go back to listing now?]</a>
            </div>
        </div>
    </article>
</div>
{% endblock %}
