<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}AGRF{% endblock %}</title>
    <link rel="preload" href="{{ url_for('static', filename='css/output.css') }}" as="style">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">

    <link rel="preload" href="{{ url_for('static', filename='fonts/HelveticaNowMicro_Bold.otf') }}" as="font" type="font/otf" crossorigin="anonymous">

    <style>
        @font-face {
            font-family: 'Helvetica';
            src: url("{{ url_for('static', filename='fonts/HelveticaNowMicro_Bold.otf') }}") format('opentype');
            font-weight: normal;
            font-style: Regular;
        }

        .font-helvetica {
            font-family: 'Helvetica', sans-serif;
        }
    </style>

    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/png">
    <link rel="icon" href="{{ url_for('static', filename='favicon.svg') }}" type="image/svg+xml">

    {% block head %}{% endblock %}

</head>

<body class="bg-[radial-gradient(circle_farthest-side_at_10%_60rem,var(--color-nc-bg-start),var(--color-nc-bg-end))] bg-no-repeat bg-cover flex flex-col min-h-screen overflow-x-hidden font-helvetica">

    {% import "macros_ui.html" as ui %}
    {% import "macros_svg.html" as svg %}

    <!-- tiny screen scaling is fragile (test it when top bar buttons change and please redo this later!) -->
    <header class="mx-4 mt-4 px-4 py-4 min-[350px]:h-20 flex relative items-center justify-between select-none">
        {{ ui.corners() }}

        <div class="flex items-center">
            <a href="{{ url_for('home') }}" title="AGRF Home">
                <img src="{{ url_for('static', filename='images/agrf.svg') }}" alt="AGRF Logo" class="min-[380px]:h-12 min-[350px]:h-10 h-16"/>
            </a>
            <img src="{{ url_for('static', filename='images/bar_ornament_logos.svg') }}" alt="" class="h-12 w-24 ml-3 hidden md:block" role="presentation"/>
            <img src="{{ url_for('static', filename='images/bar_ornament_ship.svg') }}" alt="" class="h-12 w-20 ml-3 hidden md:block" role="presentation"/>
            <img src="{{ url_for('static', filename='images/bar_ornament_angle.svg') }}" alt="" class="w-28 ml-4 hidden 2xl:block" role="presentation"/>
            <img src="{{ url_for('static', filename='images/text_ornament_tiny_arrow.svg') }}" alt="" class="ml-3 hidden 2xl:block" role="presentation"/>
            <h1 class="text-nc-grey text-lg hidden ml-1 2xl:block select-text">{%block label%}Invalid endpoint / Bad request{%endblock%}</h1>
        </div>
        <nav class="gap-x-6 flex items-center">

            {% set buttons_active =
            {"Status": "status",
            "EULA": "eula"} %}

            {% set buttons_inactive =
            {"News": "news",
            "Boards": "leaderboards"} %}

            <ul class="gap-x-1 flex flex-col min-[350px]:flex-row items-center">

                {% for label, endpoint in buttons_inactive.items() %}

                <li>
                    <span class="text-nc-grey focus:underline text-sm sm:text-lg" title="Coming soon!">{{ label }}</span>
                    <span class="text-nc-grey text-base sm:text-xl min-[350px]:before:content-['·'] sm:before:content-['//']"></span>
                </li>

                {% endfor %}

                {% for label, endpoint in buttons_active.items() %}

                <li>
                    <a href="{{ url_for(endpoint) }}" class="text-agrf-strike hover:underline focus:underline text-sm sm:text-lg">{{ label }}</a>
                    {% if not loop.last %}
                    <span class="text-nc-grey text-base sm:text-xl min-[350px]:before:content-['·'] sm:before:content-['//']"></span>
                    {% endif %}
                </li>

                {% endfor %}
            </ul>
            {{ svg.bar_kana(class = "h-12 w-28 hidden lg:block", color = "agrf-whisper") }}
            {{ svg.bar_dots(class = "h-12 w-28 hidden lg:block", color = "agrf-whisper") }}
        </nav>
    </header>

    <div class="mx-4 mt-4 px-4 py-4 flex relative items-center justify-between select-none bg-[radial-gradient(circle_farthest-side_at_10%,rgba(200,7,23,0.5),rgba(200,7,23,0.1))] hidden">
        {{ ui.corners() }}
        <p class="text-white text-sm">Undefined error</p>
    </div>

    <main class="flex-grow relative text-nc-grey">
        {% block content %}{% endblock %}
    </main>

    <footer class="pb-4 px-4 lg:pb-6 lg:px-6">
        <div class="flex justify-between items-end pb-1.5 select-none" role="presentation">
            <div class="flex gap-y-2 flex-col items-start">
                <img src="{{ url_for('static', filename='images/footer_ornament_barcode.svg') }}" alt="" class="w-22 hidden md:block"/>
                <img src="{{ url_for('static', filename='images/footer_ornament_watermark_bonk.svg') }}" alt="" class="w-60 hidden sm:block"/>
            </div>
            {% if (range(0,100) | random) > 98 %}
            <a href="https://blackpeoplemeet.com/">
                <img src="{{ url_for('static', filename='images/psp.gif') }}" class="ml-26 h-16 hidden lg:block"></img>
            </a>
            {% endif %}
            <div class="flex gap-y-2 flex-col items-end">
                <img src="{{ url_for('static', filename='images/footer_ornament_box.svg') }}" alt="" class="w-32 hidden md:block"/>
                <div class="gap-x-2 flex items-end">
                    <img src="{{ url_for('static', filename='images/footer_ornament_bray.svg') }}" alt="" class="w-32 hidden md:block"/>
                    <img src="{{ url_for('static', filename='images/footer_ornament_watermark_choo.svg') }}" alt="" class="w-60 hidden sm:block"/>
                </div>
            </div>
        </div>
        <hr class="w-full border-t-6 border-nc-grey"/>
        <div class="bg-nc-footer py-3 w-full flex relative justify-center gap-x-5">
            <img src="{{ url_for('static', filename='images/footer_ornament_logos.svg') }}" alt="" class="w-56 hidden md:block select-none"/>
            <p class="text-nc-light-grey text-xs max-w-[90%] md:max-w-[50%] leading-tight">AGRF is not affiliated
                with Sony Computer Entertainment or SCE Studio Liverpool. All trademarks belong to their respective owners.
                "PlayStation", "WipEout" and "MotorStorm" are registered trademarks of Sony Computer Entertainment Inc.
                This website is
                <a href="https://github.com/Antigravity-Racing-Foundation/naocast" class="underline hover:text-agrf-whisper">
                    free and open-source software</a>
                licensed under
                <a href="{{ url_for('eula', path='naocast') }}" class="underline hover:text-agrf-whisper">
                    the AGPL license.</a>
                Thallium+Beat is a preservation project by AGRF. See the EULA section of this website for more information
                about Thallium+Beat's terms and conditions.</p>
        </div>
    </footer>

</body>
</html>
