<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PSP 2000 VS PSP 1000 Epic Water Challenge WHICH WILL WIN</title>
    <style>
        body {
            background: #000000;
            margin: 0;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        video {
            max-width: 90%;
            max-height: 90%;
        }
    </style>
</head>
<body>
    <video width="320" height="240" controls>
        <source src="{{ url_for('static', filename='videos/PSP_2000_VS_PSP_1000_Epic_Water_Challenge_WHICH_WILL_WIN.mp4') }}" type="video/mp4">
        ur computer garbo :p
    </video>
</body>
</html>
