{% extends "base.html" %}

{% block title %}AGRF License{% endblock %}
{% block label %}Subdirectory view / End User License Agreement{% endblock %}

{% block head %}
    <meta name="description" content="The EULA of the Thallium+Beat project by AGRF"/>
    <meta name="keywords" content="WipEout, HD, 2048, Pulse, MotorStorm, Arctic Edge, Raging Ice, Server, Revival, Multiplayer, Emulator, Online, AGRF, AG Racing Foundation">
    <meta name="author" content="Antigravity Racing Foundation"/>
    <meta name="robots" content="index"/>

    <meta name="og:site_name" content="AG Racing Foundation // AGRF"/>
    <meta property="og:title" content="End User License Agreement"/>
    <meta property="og:type" content="website"/>
    <meta property="og:description" content="Read the terms and conditions of our services."/>
    <meta property="og:url" content="https://agracingfoundation.org/eula/"/>
    <meta property="og:image" content="https://agracingfoundation.org/static/images/eula_embed.webp"/>
    <meta property="og:image:alt" content="A pretty graphic in the style of the website"/>
    <meta name="twitter:card" content="summary_large_image"/>
{% endblock %}

{% block content %}
<section class="flex flex-col items-center justify-center mt-9 mb-13 gap-y-8 w-screen">

  <!-- TODO add current EULA name to picker -->

  <!-- EULA Picker -->
  <nav class="flex flex-col items-start px-6 lg:px-11 w-screen">
    {{ ui.box_title('Option Picker') }}
    <div class="relative px-6 py-4 w-full bg-nc-light-grey flex items-center justify-between">
      {{ ui.corners() }}

      <span class="hidden lg:block text-base">View EULA for:</span>
      {% set buttons =
      {"WipEout HD": "wipeout/hd",
      "WipEout Pulse": "wipeout/pulse",
      "WipEout 2048": "wipeout/2048",
      "Arctic Edge": "motorstorm/ae"} %}

      <div class="gap-x-1 select-none">

        {% for label, endpoint in buttons.items() %}
        <a href="{{ url_for('eula', path=endpoint) }}" class="text-agrf-strike hover:underline focus:underline text-sm sm:text-base whitespace-nowrap">{{ label }}</a>

        {% if not loop.last %}
        <span class="text-nc-grey text-sm sm:text-base">//</span>
        {% endif %}

        {% endfor %}
      </div>
    </div>
  </nav>

  <!-- EULA View -->
  <article class="flex flex-col items-start px-6 lg:px-11 w-full">
    {{ ui.box_title('End User License Agreement') }}
    <div class="relative px-6 py-6 w-full bg-white flex items-center justify-start">
      {{ ui.corners() }}

      <pre class="text-nc-grey text-base font-helvetica whitespace-pre-wrap break-words leading-tight w-full">{{ eula }}</pre>
    </div>
  </article>
</section>
{% endblock %}
