{% extends "base.html" %}

{% block title %}AGRF License{% endblock %}
{% block label %}Subdirectory view / End User License Agreement{% endblock %}

{% block content %}
<section class="flex flex-col items-center justify-center mt-9 mb-13 gap-y-8 w-screen">

  <!-- TODO add current EULA name to picker -->

  <!-- EULA Picker -->
  <nav class="flex flex-col items-start px-6 lg:px-11 w-screen">
    {{ ui.box_title('Option Picker') }}
    <div class="relative px-6 py-4 w-full bg-[rgba(222,222,222,1)] flex items-center justify-between">
      {{ ui.corners() }}

      <span class="hidden lg:block text-lg">View EULA for:</span>
      {% set buttons =
      {"WipEout HD": "wipeout/hd",
      "WipEout Pulse": "wipeout/pulse",
      "WipEout 2048": "wipeout/2048",
      "Arctic Edge": "motorstorm/ae"} %}

      <div class="gap-x-1 select-none">

        {% for label, endpoint in buttons.items() %}
        <a href="{{ url_for('eula', path=endpoint) }}" class="text-[rgba(113,62,255,1)] hover:underline focus:underline text-sm sm:text-lg whitespace-nowrap">{{ label }}</a>

        {% if not loop.last %}
        <span class="text-[rgba(110,110,110,1)] text-sm sm:text-lg">//</span>
        {% endif %}

        {% endfor %}
      </div>
    </div>
  </nav>

  <!-- EULA View -->
  <article class="flex flex-col items-start px-6 lg:px-11 w-full">
    {{ ui.box_title('End User License Agreement') }}
    <div class="relative px-6 py-6 w-full bg-white flex items-center justify-start">
      {{ ui.corners() }}

      <pre class="text-[rgba(110,110,110,1)] text-base font-helvetica whitespace-pre-wrap break-words leading-tight w-full">{{ eula }}</pre>
    </div>
  </article>
</section>
{% endblock %}
