{% extends "base.html" %}

{% block title %}AGRF{% endblock %}
{% block label %}Entry point / Welcome to AGRF!{% endblock %}

{% block content %}
<section class="items-start flex flex-col w-screen px-6 py-4 lg:px-28 lg:py-12">
    {{ ui.box_title('Introduction Flyout') }}
    <!-- section's inner container -->
    <div class="relative pt-2 pb-8 px-8 w-full bg-[rgba(246,246,246,1)] flex items-start justify-between">
        {{ ui.corners() }}
        <!-- additional padding in the article because we want the image to be above the text slightly -->
        <article class="pt-6 space-y-3">
            <h3 class="text-lg md:text-lg leading-tight">
                <img src="{{ url_for('static', filename='images/text_ornament_arrow.svg') }}" alt=""
                    class="h-5 w-5 inline-block align-text-bottom"/>
                Welcome to the official Antigravity Racing Foundation Website!
            </h3>

            <h3 class="text-sm md:text-lg max-w-screen-lg leading-tight">
                <img src="{{ url_for('static', filename='images/text_ornament_tiny_square.svg') }}" alt=""
                    class="h-2 inline-block mb-0.5 ml-0.5 select-none"/>
                Our flagship project, Thallium+Beat, allows you to play WipEout HD and WipEout Pulse online again, as well as re-experience most
                of WipEout 2048's online features. We also support MotorStorm: Arctic Edge!<br><br>
                Except for WipEout 2048 Online Campaign and some WipEout Pulse in-game website features, <b><i>everything works!</i></b><br><br>
                We hold several weekly events on our WipEout Discord server, including:
            </h3>

            {% set events = [
              "WipEout HD Weekly Lobby, a time to simply play with others, <b>on Saturday at 19:00 UTC.</b>",
              "WipEout HD Mode Shuffle, an appreciation of often neglected ways to enjoy the game <b>every Sunday at 19:00 UTC.</b>",
              "WipEout Pulse Portable Rush, its version of Weekly Lobby, held <b>every Thursday at 19:00 UTC.</b>"
            ] %}
            <ul class="text-sm md:text-lg space-y-4 leading-tight mt-4">
              {% for event in events %}
              <li class="flex items-start">
                <img src="{{ url_for('static', filename='images/text_ornament_tiny_square.svg') }}"
                    alt="" class="h-2 mt-1.5 mr-2 ml-1 select-none" />
                <span>
                    {{ event | safe }}
                </span>
              </li>
              {% endfor %}
            </ul>
        </article>
        <figure class="flex-col items-start ml-5 hidden xl:flex">
            {{ ui.box_title('Image by @s.erein12') }}
            <div class="flex relative">
                <img src="{{ url_for('static', filename='images/2048_teatime.webp') }}" alt="" class="max-h-[35rem] w-auto"/>
                <!-- not using the corners macro since here the right corners must be a different color -->
                <img src="{{ url_for('static', filename='images/corner_tl.svg') }}" class="absolute select-none top-0 left-0 w-2.5 h-2.5" aria-hidden="true"/>
                <img src="{{ url_for('static', filename='images/corner_tr_lightgrey.svg') }}" class="absolute select-none top-0 right-0 w-2.5 h-2.5" aria-hidden="true"/>
                <img src="{{ url_for('static', filename='images/corner_bl.svg') }}" class="absolute select-none bottom-0 left-0 w-2.5 h-2.5" aria-hidden="true"/>
                <img src="{{ url_for('static', filename='images/corner_br_lightgrey.svg') }}" class="absolute select-none bottom-0 right-0 w-2.5 h-2.5" aria-hidden="true"/>
            </div>
        </figure>
    </div>
</section>
{% endblock %}
