{% extends "base.html" %}

{% block title %}Thallium Leaderboards{% endblock %}
{% block label %}API frontend / Leaderboard viewer{% endblock %}

{% block head %}
    <meta name="description" content="The leaderboards of the Thallium+Beat project by AGRF"/>
    <meta name="keywords" content="WipEout, HD, 2048, Pulse, MotorStorm, Arctic Edge, Raging Ice, Server, Revival, Multiplayer, Emulator, Online, AGRF, AG Racing Foundation">
    <meta name="author" content="Antigravity Racing Foundation"/>
    <meta name="robots" content="index"/>

    <meta name="og:site_name" content="AG Racing Foundation // AGRF"/>
    <meta property="og:title" content="Thallium leaderboards"/>
    <meta property="og:type" content="website"/>
    <meta property="og:description" content="Browse the leaderboards of Thallum+Beat online!"/>
    <meta property="og:url" content="https://agracingfoundation.org/leaderboards/"/>
    <meta property="og:image" content="https://agracingfoundation.org/static/images/leaderboards_embed.webp"/>
    <meta property="og:image:alt" content="A pretty graphic in the style of the website"/>
    <meta name="twitter:card" content="summary_large_image"/>
{% endblock %}

{% block content %}
<div class="flex 2xl:flex-row flex-col flex-1 justify-between gap-x-14 px-6 lg:px-28 pt-4 pb-10 lg:pt-12">
    <section class="items-start flex-2">
        {{ ui.box_title('Board Picker') }}
        <nav class="relative py-10 px-10 w-full bg-nc-bg flex flex-col">
            {{ ui.corners() }}
            <div class="bg-hd-blue w-full"></div>
        </nav>
    </section>

    <section class="flex flex-col items-start flex-4">
        {{ ui.box_title('Board View') }}
        <div class="relative pb-10 pt-4 px-10 w-full bg-nc-bg flex flex-col">
            {{ ui.corners() }}
            <div class="flex flex-col">

                <table class="text-left" id=""table>

                    <thead class="text-xs text-hd-blue" id="table-head">
                        <tr class="border-b-3 border-nc-grey">
                            <th scope="col" class="px-2 py-2 text-center" id="table-head-1">
                                Pos
                            </th>
                            <th scope="col" class="px-6" id="table-head-2">
                                Username
                            </th>
                            <th scope="col" class="px-6 text-center" id="table-head-3">
                                ...
                            </th>
                            <th scope="col" class="px-6 text-center" id="table-head-4">
                                ...
                            </th>
                            <th scope="col" class="px-2 text-right" id="table-head-5">
                                Hold on!
                            </th>
                        </tr>
                    </thead>

                    <tbody id="table-body" class="text-sm">

                        <tr class="border-b-3 border-nc-light-grey" id="tr-1">
                            <th scope="row" class="px-2 w-[5%] py-2 text-center" id="tr-1-1">
                                1
                            </th>
                            <td class="px-6" id="tr-1-2">
                                systeminspired
                            </td>
                            <td class="px-6 text-center" id="tr-1-3">
                                99
                            </td>
                            <td class="px-6 text-center" id="tr-1-4">
                                67
                            </td>
                            <td class="px-2 text-right" id="tr-1-5">
                                301337
                            </td>
                        </tr>

                        <tr class="border-b-3 border-nc-grey" id="tr-last">
                            <th scope="row" class="px-2 py-2 text-center" id="tr-last-1">
                                0
                            </th>
                            <td class="px-6" id="tr-last-2">
                                ^ SAMPLE DATA ^
                            </td>
                            <td class="px-6 text-center" id="tr-last-3">
                                0
                            </td>
                            <td class="px-6 text-center" id="tr-last-4">
                                0
                            </td>
                            <td class="px-2 text-right" id="tr-last-5">
                                0
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </section>
<!--
    <section class="flex flex-col items-start flex-4">
        {{ ui.box_title('Board View') }}
        <div class="relative pb-10 pt-4 px-10 w-full bg-nc-bg flex flex-col">
            {{ ui.corners() }}
            <div class="flex flex-col">

                <table class="text-left" id="table">
                    <thead class="text-xs text-hd-blue" id="table-head">
                        <tr class="border-b-3 border-nc-grey">
                            <th scope="col" class="px-2 py-2 text-center">
                                Pos
                            </th>
                            <th scope="col" class="px-6">
                                Name
                            </th>
                            <th scope="col" class="px-6 text-center">
                                Zone
                            </th>
                            <th scope="col" class="px-6 text-center">
                                Perfect zones
                            </th>
                            <th scope="col" class="px-2 text-right">
                                Score
                            </th>
                        </tr>
                    </thead>
                    <tbody id="table-body" class="text-sm">
                        <tr class="border-b-3 border-nc-light-grey">
                            <th scope="row" class="px-2 w-[5%] py-2 text-center">
                                1
                            </th>
                            <td class="px-6">
                                systeminspired
                            </td>
                            <td class="px-6 text-center">
                                99
                            </td>
                            <td class="px-6 text-center">
                                67
                            </td>
                            <td class="px-2 text-right">
                                301337
                            </td>
                        </tr>
                        <tr class="border-b-3 border-nc-light-grey">
                            <th scope="row" class="px-2 py-2 text-center">
                                2
                            </th>
                            <td class="px-6">
                                Naotyu
                            </td>
                            <td class="px-6 text-center">
                                88
                            </td>
                            <td class="px-6 text-center">
                                67
                            </td>
                            <td class="px-2 text-right">
                                277212
                            </td>
                        </tr>
                        <tr class="border-b-3 border-nc-light-grey">
                            <th scope="row" class="px-2 py-2 text-center">
                                3
                            </th>
                            <td class="px-6">
                                x3medexyu-sa
                            </td>
                            <td class="px-6 text-center">
                                83
                            </td>
                            <td class="px-6 text-center">
                                60
                            </td>
                            <td class="px-2 text-right">
                                267025
                            </td>
                        </tr>
                        <tr class="border-b-3 border-nc-light-grey">
                            <th scope="row" class="px-2 py-2 text-center">
                                4
                            </th>
                            <td class="px-6">
                                xXzVoltzXx
                            </td>
                            <td class="px-6 text-center">
                                89
                            </td>
                            <td class="px-6 text-center">
                                56
                            </td>
                            <td class="px-2 text-right">
                                250373
                            </td>
                        </tr>
                        <tr class="border-b-3 border-nc-light-grey">
                            <th scope="row" class="px-2 py-2 text-center">
                                5
                            </th>
                            <td class="px-6">
                                MaxiMars7
                            </td>
                            <td class="px-6 text-center">
                                78
                            </td>
                            <td class="px-6 text-center">
                                57
                            </td>
                            <td class="px-2 text-right">
                                248614
                            </td>
                        </tr>
                        <tr class="border-b-3 border-nc-light-grey">
                            <th scope="row" class="px-2 py-2 text-center">
                                6
                            </th>
                            <td class="px-6">
                                fxheemldn
                            </td>
                            <td class="px-6 text-center">
                                82
                            </td>
                            <td class="px-6 text-center">
                                56
                            </td>
                            <td class="px-2 text-right">
                                224607
                            </td>
                        </tr>
                        <tr class="border-b-3 border-nc-light-grey">
                            <th scope="row" class="px-2 py-2 text-center">
                                7
                            </th>
                            <td class="px-6">
                                x3medexyu-sa
                            </td>
                            <td class="px-6 text-center">
                                83
                            </td>
                            <td class="px-6 text-center">
                                60
                            </td>
                            <td class="px-2 text-right">
                                267025
                            </td>
                        </tr>
                        <tr class="border-b-3 border-nc-grey">
                            <th scope="row" class="px-2 py-2 text-center">
                                0
                            </th>
                            <td class="px-6">
                                ^ SAMPLE DATA ^
                            </td>
                            <td class="px-6 text-center">
                                0
                            </td>
                            <td class="px-6 text-center">
                                0
                            </td>
                            <td class="px-2 text-right">
                                0
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </section> -->
</div>

<script src="/static/js/leaderboard_getter_4000.js"></script>
{% endblock %}
