{% extends "base.html" %}

{% block title %}Thallium Leaderboards{% endblock %}
{% block label %}API frontend / Leaderboard viewer{% endblock %}

{% block head %}
    <meta name="description" content="The leaderboards of the Thallium+Beat project by AGRF"/>
    <meta name="keywords" content="WipEout, HD, 2048, Pulse, MotorStorm, Arctic Edge, Raging Ice, Server, Revival, Multiplayer, Emulator, Online, AGRF, AG Racing Foundation">
    <meta name="author" content="Antigravity Racing Foundation"/>
    <meta name="robots" content="index"/>

    <meta name="og:site_name" content="AG Racing Foundation // AGRF"/>
    <meta property="og:title" content="Thallium leaderboards"/>
    <meta property="og:type" content="website"/>
    <meta property="og:description" content="Browse the leaderboards of Thallum+Beat online!"/>
    <meta property="og:url" content="https://agracingfoundation.org/leaderboards/"/>
    <meta property="og:image" content="https://agracingfoundation.org/static/images/leaderboards_embed.webp"/>
    <meta property="og:image:alt" content="A pretty graphic in the style of the website"/>
    <meta name="twitter:card" content="summary_large_image"/>
{% endblock %}

{% block content %}
<script src="/static/js/leaderboard_getter_4000.js"></script>
<div class="flex items-center justify-center mt-[10%] mb-[1%]">
    <div class="items-start flex flex-col">
        {{ ui.box_title('Info Flyout') }}
        <div class="relative px-20 h-52 bg-white flex items-center justify-center">
            {{ ui.corners() }}

            <div id="board" class="text-center"></div>
        </div>
    </div>
</div>
{% endblock %}
