{%- macro ad_sayonara() -%}
<a href="{{ url_for('ad_explainer') }}" class="flex flex-grow">
    <div title="This is a decoration, not an actual ad! (yet >:) )" class="flex items-center justify-center bg-[#ffffffff] w-full">
        <img src="{{ url_for('static', filename='images/ad_sayonara_portrait.svg') }}" alt="" aria-hidden="true" class="min-h-0 h-full px-4 py-14 object-contain select-none block min-[2300px]:hidden"/>
        <img src="{{ url_for('static', filename='images/ad_sayonara_landscape.svg') }}" alt="" aria-hidden="true" class="min-h-0 h-full px-20 py-6 object-contain select-none hidden min-[2300px]:block"/>
    </div>
</a>
{%- endmacro -%}

{%- macro ad_assegai() -%}
<a href="{{ url_for('ad_explainer') }}" class="flex flex-grow">
    <div title="This is a decoration, not an actual ad! (yet >:) )" class="flex items-center justify-center bg-[#365f9aff] w-full">
        <img src="{{ url_for('static', filename='images/ad_assegai_portrait.svg') }}" alt="" aria-hidden="true" class="min-h-0 h-full px-4 py-14 object-contain select-none block min-[2300px]:hidden"/>
        <img src="{{ url_for('static', filename='images/ad_assegai_landscape.svg') }}" alt="" aria-hidden="true" class="min-h-0 h-full px-20 py-6 object-contain select-none hidden min-[2300px]:block"/>
    </div>
</a>
{%- endmacro -%}
