{%- macro corners() -%}
  <img src="{{ url_for('static', filename='images/corner.svg') }}" class="absolute select-none top-0 left-0 w-2.5 h-2.5" aria-hidden="true"/>
  <img src="{{ url_for('static', filename='images/corner.svg') }}" class="absolute select-none rotate-90 top-0 right-0 w-2.5 h-2.5" aria-hidden="true"/>
  <img src="{{ url_for('static', filename='images/corner.svg') }}" class="absolute select-none rotate-270 bottom-0 left-0 w-2.5 h-2.5" aria-hidden="true"/>
  <img src="{{ url_for('static', filename='images/corner.svg') }}" class="absolute select-none rotate-180 bottom-0 right-0 w-2.5 h-2.5" aria-hidden="true"/>
{%- endmacro -%}

{%- macro box_title(box_title) -%}
  <h2 class="flex mb-1 text-xs">
    <img src="{{ url_for('static', filename='images/text_ornament_tiny_square.svg') }}" alt="" aria-hidden="true" class="w-2 mr-1 ml-0.5 select-none"/>
    {{ box_title }}
  </h2>
{%- endmacro -%}

{%- macro highlight(content, accent_color='0,0,0') -%}
<span class="border border-t-sm font-helvetica inline-block px-1 rounded-md"
      style="background-color: rgba({{ accent_color }}, 0.2); user-select: text;">
{{ content|safe }}
</span>
{%- endmacro -%}

{%- macro guide_article(box_title, guide_title, accent_color, caller=None) -%}
        <article class="items-start">
            <h2 class="flex mb-1 text-xs">
              <img src="{{ url_for('static', filename='images/text_ornament_tiny_square.svg') }}" alt="" aria-hidden="true" class="w-2 mr-1 ml-0.5 select-none"/>
              {{ box_title }}
            </h2>
            <div class="relative px-6 py-6 bg-nc-bg">
                {{ corners() }}
                <h3 class="text-base md:text-lg leading-tight" style="color: rgba({{ accent_color }},1)">
                    {{ guide_title }}
                </h3>
                <hr class="w-full border-t-4 mt-2 mb-1 border-nc-light-grey"/>
                <div class="text-xs md:text-base leading-snug">
                    {{ caller() }}
                </div>
            </div>
        </article>
{%- endmacro -%}

{%- macro status_box(box_title, title_id, accent_color, caller=None) -%}
        <article class="items-start">
            <h2 class="flex mb-1 text-sm">
              <img src="{{ url_for('static', filename='images/text_ornament_tiny_square.svg') }}" alt="" aria-hidden="true" class="w-2 mr-1 select-none"/>
              {{ box_title }}
            </h2>
            <div class="relative px-6 py-6 bg-nc-bg">
                {{ corners() }}
                <h3 id="{{ title_id }}" class="text-lg md:text-xl leading-tight" style="color: rgba({{ accent_color }},1)">

                </h3>
                <hr class="w-full border-t-4 mt-2 mb-1 border-nc-light-grey"/>
                <div class="text-md md:text-lg leading-snug">
                    {{ caller() }}
                </div>
            </div>
        </article>
{%- endmacro -%}
