{%- macro text_ornament_arrow(class, color) -%}
<svg
   class="{{ class }}"
   width="20.000164"
   height="21.999836"
   viewBox="0 0 5.2917101 5.8207899"
   version="1.1"
   id="svg1"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:svg="http://www.w3.org/2000/svg">
  <defs
     id="defs1" />
  <g
     id="layer1"
     transform="translate(-252.94168,-141.55202)">
    <path
       id="rect1-85"
       style="fill:#7d7d7d;stroke-width:0.448143;stroke-miterlimit:4.6;paint-order:markers fill stroke"
       d="m 252.94168,141.55213 v 5.82068 h 2.79812 0.0811 v -0.0951 l 2.41249,-2.81527 -2.41249,-2.81532 v -0.0951 h -0.0808 z" />
  </g>
</svg>
{%- endmacro -%}

{%- macro text_ornament_tiny_arrow(class, color) -%}
<svg
   class="{{ class }}"
   width="10"
   height="11.547006"
   viewBox="0 0 2.6458335 3.0551453"
   version="1.1"
   id="svg1"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:svg="http://www.w3.org/2000/svg">
  <defs
     id="defs1" />
  <g
     id="layer1"
     transform="translate(-414.33749,76.729166)">
    <path
       style="fill:#646464;fill-opacity:1;stroke:none;stroke-width:1;stroke-linecap:round;stroke-dasharray:none;stroke-opacity:1;paint-order:markers fill stroke"
       id="use17"
       d="m 168.83912,246.1787 -7.07777,4.08635 v -8.17271 z"
       transform="matrix(0.37382283,0,0,0.37382283,353.86741,-167.22881)" />
  </g>
</svg>
{%- endmacro -%}

{%- macro text_ornament_tiny_square(class, color) -%}
<svg
   class="{{ class }}"
   width="10"
   height="10"
   viewBox="0 0 2.6458333 2.6458333"
   version="1.1"
   id="svg1"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:svg="http://www.w3.org/2000/svg">
  <defs
     id="defs1" />
  <g
     id="layer1"
     transform="translate(-164.30635,-91.810417)">
    <rect
       style="fill:#646464;stroke-width:0.19315;stroke-miterlimit:4.6;paint-order:markers fill stroke"
       id="rect17-4-3-5"
       width="2.6458333"
       height="2.6458333"
       x="164.30635"
       y="91.810417" />
  </g>
</svg>
{%- endmacro -%}

{%- macro body_ornament_blue_lines(class, color) -%}
<svg
   class="{{ class }}"
   width="30.940001"
   height="532.15997"
   viewBox="0 0 8.1862085 140.80066"
   version="1.1"
   id="svg1"
   xmlns:xlink="http://www.w3.org/1999/xlink"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:svg="http://www.w3.org/2000/svg">
  <defs
     id="defs1">
    <linearGradient
       xlink:href="#linearGradient83"
       id="linearGradient86"
       gradientUnits="userSpaceOnUse"
       gradientTransform="translate(-322.67833,-237.39085)"
       x1="483.8096"
       y1="71.806923"
       x2="483.8096"
       y2="229.5092" />
    <linearGradient
       id="linearGradient83">
      <stop
         style="stop-color:#8ac0ca;stop-opacity:1;"
         offset="0"
         id="stop84" />
      <stop
         style="stop-color:#8ac0ca;stop-opacity:0;"
         offset="1"
         id="stop85" />
    </linearGradient>
    <linearGradient
       xlink:href="#linearGradient83"
       id="linearGradient85"
       x1="483.8096"
       y1="71.806923"
       x2="483.8096"
       y2="229.5092"
       gradientUnits="userSpaceOnUse"
       gradientTransform="matrix(1,0,0,0.84993067,-319.29804,-235.18605)" />
    <linearGradient
       xlink:href="#linearGradient83"
       id="linearGradient87"
       gradientUnits="userSpaceOnUse"
       gradientTransform="translate(-315.64492,-254.11971)"
       x1="483.8096"
       y1="71.806923"
       x2="483.8096"
       y2="229.5092" />
  </defs>
  <g
     id="layer1"
     transform="translate(-161.13124,-36.211285)">
    <rect
       style="opacity:0.2;fill:url(#linearGradient85);stroke-width:0.20823;stroke-miterlimit:4.6;paint-order:markers fill stroke"
       id="rect83"
       width="1.1524957"
       height="128.80873"
       x="164.51155"
       y="-169.64999"
       transform="scale(1,-1)" />
    <rect
       style="opacity:0.15;fill:url(#linearGradient86);stroke-width:0.225866;stroke-miterlimit:4.6;paint-order:markers fill stroke"
       id="rect83-2"
       width="1.1524957"
       height="151.55205"
       x="161.13124"
       y="-160.28329"
       transform="scale(1,-1)" />
    <rect
       style="opacity:0.1;fill:url(#linearGradient87);stroke-width:0.225866;stroke-miterlimit:4.6;paint-order:markers fill stroke"
       id="rect83-8"
       width="1.1524957"
       height="151.55205"
       x="168.16469"
       y="-177.01219"
       transform="scale(1,-1)" />
  </g>
</svg>
{%- endmacro -%}

{%- macro body_ornament_bold_line(class, color) -%}
<svg
   class="{{ class }}"
   width="21.773443"
   height="497.78513"
   viewBox="0 0 5.7608902 131.70565"
   version="1.1"
   id="svg1"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:svg="http://www.w3.org/2000/svg">
  <defs
     id="defs1" />
  <g
     id="layer1"
     transform="translate(-162.45416,-26.9875)">
    <path
       id="rect1-1"
       style="opacity:0.1;fill:#646464;stroke:none;stroke-width:0.15992;paint-order:markers fill stroke"
       d="m 168.21505,26.9875 h -5.76088 v 18.542762 l 5.76088,-6.037996 z m -1e-5,19.954699 -5.76087,6.038015 v 12.693311 l 5.76087,-6.038015 z m 1e-5,20.143266 -5.76089,6.03799 1e-5,20.65363 5.76088,-6.03801 z m 0,28.10355 -5.76088,6.038005 v 57.46613 h 5.76088 z" />
  </g>
</svg>
{%- endmacro -%}

{%- macro corner(class, color) -%}
<svg
   class="{{ class }}"
   width="9.9999876"
   height="9.999999"
   viewBox="0 0 2.6458301 2.6458331"
   version="1.1"
   id="svg1"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:svg="http://www.w3.org/2000/svg">
  <defs
     id="defs1" />
  <g
     id="layer1"
     transform="translate(-388.14375,-10.583332)">
    <path
       id="rect1-9-8-36"
       style="fill:#646464;stroke:#646464;stroke-width:0;paint-order:markers fill stroke"
       d="m 388.14375,10.583332 v 2.645833 h 0.79923 V 11.38256 h 1.8466 v -0.799228 z" />
  </g>
</svg>
{%- endmacro -%}
