{% extends "base.html" %}

{% block title %}Latest News{% endblock %}
{% block label %}Subdirectory view / News{% endblock %}

{% block head %}
    <link rel="alternate" type="application/rss+xml" title="AGRF RSS feed" href="https://agracingfoundation.org/static/rss/naocast.rss">

    <meta name="description" content="Latest news related to the AGRF"/>
    <meta name="keywords" content="WipEout, HD, 2048, Pulse, MotorStorm, Arctic Edge, Raging Ice, Server, Revival, Multiplayer, Emulator, Online, AGRF, AG Racing Foundation">
    <meta name="author" content="Antigravity Racing Foundation"/>
    <meta name="robots" content="index"/>

    <meta name="og:site_name" content="AG Racing Foundation // AGRF"/>
    <meta property="og:title" content="Latest news"/>
    <meta property="og:type" content="website"/>
    <meta property="og:description" content="Check out AGRF's latest happenings!"/>
    <meta property="og:url" content="https://agracingfoundation.org/news/"/>
    <meta property="og:image" content="https://agracingfoundation.org/static/images/news_embed.webp"/>
    <meta property="og:image:alt" content="A pretty graphic in the style of the website"/>
    <meta name="twitter:card" content="summary_large_image"/>
{% endblock %}

{% block content %}
<template id="news-panel-template">
    <div class="panel flex flex-row items-center gap-x-1 w-full px-2 py-2 z-30">
		<img src="{{ url_for('static', filename='images/text_ornament_tiny_arrow_purple.svg') }}" alt="" class="selection hidden rotate-270" role="presentation"/> 
        <a class="news-name text-agrf-statement hover:text-agrf-strike hover:underline focus:underline text-sm sm:text-base"></a>
    </div>
</template>

<template id="news-article-template">
    <div class="panel flex flex-row gap-x-3 w-full px-4 z-30">
        <div class="content text-sm w-full py-3"></div>
    </div>
</template>

{{ ui.javascript_error() }}

<article class="flex flex-col xl:flex-row space-y-6 xl:space-y-0 justify-center space-x-5 pt-4 pb-10 lg:pt-12 px-2 sm:px-6 lg:px-28 hidden" id="page">
  	<!-- left side -->
	<img src="{{ url_for('static', filename='images/body_ornament_bold_line.svg') }}" alt="" class="w-4.5 absolute left-18 mt-10 hidden lg:block select-none"/>
  	<div class="w-screen flex-col space-y-6 max-w-[100%] xl:max-w-[35%] xl:block" id="news_picker">
    	{{ ui.box_title('Entry Picker') }}
    	<div class="relative p-4 w-full bg-nc-bg flex flex-col items-start justify-between">
        	{{ ui.corners() }}
        	<div class="text-sm md:text-base text-nc-grey w-full">
            	<article class="flex relative flex-col min-h-30 xl:h-114 overflow-scroll w-full" id="news_list">
            	  	<div class="initial-text absolute flex flex-col justify-center w-full h-full z-30" style="opacity: 0">
						<!-- <hr class="border-t-3 border-nc-light-grey"> -->
            	  	    <p class="initial-text text-base 2xl:text-lg py-3 text-center px-2 my-2 text-nc-light-grey">RETRIEVING DATA...</p>
						<!-- <hr class="border-t-3 border-nc-light-grey"> -->
            	  	</div>
            	</article>
          	</div>
      	</div>
  	</div>
  	<!-- right side -->
  	<div class="w-screen flex-col space-y-6 max-w-[100%] xl:max-w-[65%] xl:block hidden" id="news_viewer">
      	{{ ui.box_title('Article Viewport') }}
      	<div class="relative p-1 sm:p-6 w-full bg-nc-bg flex flex-col items-start justify-between">
          	{{ ui.corners() }}
          	<div class="text-sm md:text-base text-nc-grey w-full">

				<div class="text-agrf-strike m-3 text-lg xl:hidden block">
					<a href="/news" class="ml-3"> 
						< Back
					</a>
					<hr class="border-t-4 mt-3 border-nc-light-grey">
				</div>
				
            	<article class="flex relative flex-col w-full" id="news_article">
					<div class="panel flex flex-row justify-between items-center gap-x-3 w-full px-4 z-30">
    				    <div class="content text-base py-3 w-full">
							<div class="flex items-center">
								<img src="{{ url_for('static', filename='images/agrf.svg') }}" alt="" aria-hidden="true" class="w-12 h-12 mr-1 ml-0.5 mr-2 select-none">
								<div class="flex flex-col">
									<span>System Message</span>
									<span id="system_message_date">Today</span>
								</div>
							</div>
							<hr class="border-t-4" style="margin-block: 0.6rem">
								<h4 class="text-2xl my-4" style="margin-top: 1rem;margin-bottom: 0.35rem;">
									Welcome to News!
								</h4>
								This tool enables you to view announcements posted on 
								<a href="https://discord.gg/E3MqdVPdxf" target="_blank" class="underline text-agrf-strike">our Discord server</a>.
								<br>
								To get started, pick an article from the Entry Picker panel.
								<br><br>
								<div class="text-nc-light-grey text-[0.45rem] leading-tight">
									NAOCAST RSS RETRIEVER 5000
									<br>
									BUILD A9E89A0
									<br>
									Copyleft 2206 The Antigravity Racing Foundation.
									This software is licensed under the AGPL license.
									<br>
									Your client reference number is:
									[e6101465b5394077d4d41f7e1f4032f5]
									<br>
									This is flavor text.
								</div>
						</div>
    				</div>
            	</article>

				<div class="text-agrf-strike m-3 text-lg xl:hidden block">
					<hr class="border-t-4 mb-3 border-nc-light-grey">
					<a href="/news" class="ml-3">
						< Back
					</a>
				</div>

          	</div>
      	</div>
  	</div>
</article>
<script>
	page = document.getElementById("page");
	error = document.getElementById("javascript_error");

	page.classList.replace("hidden", "block");
	error.classList.replace("block", "hidden");

	function getCurrentDate() {
		const date = new Date();

		const day = date.getDate();
		const month = date.toLocaleString('en-US', { month: 'long' });
		const year = date.getFullYear();

		const suffix =
    		day % 100 >= 11 && day % 100 <= 13
    			? 'th'
    				: day % 10 === 1
        				? 'st'
        					: day % 10 === 2
          						? 'nd'
          							: day % 10 === 3
            							? 'rd'
            								: 'th';

  		return `${day}${suffix} of ${month}, ${year}`;
	}
	document.getElementById("system_message_date").innerHTML = getCurrentDate();
</script>
<script src="/static/js/rss_retriever_5000.js"></script>
{% endblock %}
