{% extends "base.html" %}

{% block title %}Latest News{% endblock %}
{% block label %}Subdirectory view / News{% endblock %}

{% block head %}
    <link rel="alternate" type="application/rss+xml" title="AGRF RSS feed" href="https://svo.agracingfoundation.org/external/assets/naocast.rss">

    <meta name="description" content="Latest news related to the AGRF"/>
    <meta name="keywords" content="WipEout, HD, 2048, Pulse, MotorStorm, Arctic Edge, Raging Ice, Server, Revival, Multiplayer, Emulator, Online, AGRF, AG Racing Foundation">
    <meta name="author" content="Antigravity Racing Foundation"/>
    <meta name="robots" content="index"/>

    <meta name="og:site_name" content="AG Racing Foundation // AGRF"/>
    <meta property="og:title" content="Latest news"/>
    <meta property="og:type" content="website"/>
    <meta property="og:description" content="Check out AGRF's latest happenings!"/>
    <meta property="og:url" content="https://agracingfoundation.org/news/"/>
    <meta property="og:image" content="https://agracingfoundation.org/static/images/news_embed.webp"/>
    <meta property="og:image:alt" content="A pretty graphic in the style of the website"/>
    <meta name="twitter:card" content="summary_large_image"/>
{% endblock %}

{% block content %}
<template id="news-panel-template">
    <div class="panel flex flex-row items-center gap-x-1 w-full px-2 py-2 z-30">
		<img src="{{ url_for('static', filename='images/text_ornament_tiny_arrow_purple.svg') }}" alt="" class="selection hidden rotate-270" role="presentation"/> 
        <a class="news-name text-agrf-statement hover:text-agrf-strike hover:underline focus:underline text-sm sm:text-base"></a>
    </div>
</template>

<template id="news-article-template">
    <div class="panel flex flex-row gap-x-3 w-full px-4 z-30">
        <div class="content text-sm w-full py-3"></div>
    </div>
</template>

{{ ui.javascript_error() }}

<article class="flex flex-col xl:flex-row space-y-6 xl:space-y-0 justify-center space-x-5 pt-4 pb-10 lg:pt-12 px-2 sm:px-6 lg:px-28 hidden" id="page">
  	<!-- left side -->
  	<div class="w-screen flex-col space-y-6 max-w-[100%] xl:max-w-[35%] xl:block" id="news_picker">
    	{{ ui.box_title('Entry Picker') }}
    	<div class="relative p-4 w-full bg-nc-bg flex flex-col items-start justify-between">
        	{{ ui.corners() }}
        	<div class="text-sm md:text-base text-nc-grey w-full">
            	<article class="flex relative flex-col xl:h-114 overflow-scroll w-full" id="news_list">
            	  	{% for _ in range(0,3) %}
            	  	<div class="flex flex-row {{ 'bg-white' if loop.index0 % 2 == 0 }} justify-between items-center 2xl:min-w-90 px-8 md:py-6.5 py-5.5 z-30"></div>
            	  	{% endfor %}
            	  	{% for _ in range(0,6) %}
            	  	<div class="flex flex-row {{ 'bg-white' if loop.index0 % 2 == 1 }} justify-between items-center 2xl:min-w-90 px-8 md:py-6.5 py-5.5 z-30 2xl:block hidden"></div>
            	  	{% endfor %}
            	  	<div class="absolute flex flex-row justify-center items-center w-full h-full z-30">
            	  	    <p class="initial-text text-base 2xl:text-lg py-3 text-center px-2 mt-1 text-nc-light-grey" style="opacity: 0">RETRIEVING NEWS...</p>
            	  	</div>
            	</article>
          	</div>
      	</div>
  	</div>
  	<!-- right side -->
  	<div class="w-screen flex-col space-y-6 max-w-[100%] xl:max-w-[65%] xl:block hidden" id="news_viewer">
      	{{ ui.box_title('Article Viewport') }}
      	<div class="relative p-1 sm:p-6 w-full bg-nc-bg flex flex-col items-start justify-between">
          	{{ ui.corners() }}
          	<div class="text-sm md:text-base text-nc-grey w-full">

				<div class="text-agrf-strike m-3 text-lg xl:hidden block">
					<a href="/news" class="ml-3"> 
						< Back
					</a>
					<hr class="border-t-4 mt-3 border-nc-light-grey">
				</div>
				
            	<article class="flex relative flex-col w-full" id="news_article">
					<div class="panel flex flex-row justify-between items-center gap-x-3 w-full px-4 z-30">
    				    <div class="content text-sm py-3">
							<h3>RETRIEVING ARTICLE...</h3>
						</div>
    				</div>
            	</article>

				<div class="text-agrf-strike m-3 text-lg xl:hidden block">
					<hr class="border-t-4 mb-3 border-nc-light-grey">
					<a href="/news" class="ml-3">
						< Back
					</a>
				</div>

          	</div>
      	</div>
  	</div>
</article>
<script>
	page = document.getElementById("page");
	error = document.getElementById("javascript_error");

	page.classList.replace("hidden", "block");
	error.classList.replace("block", "hidden");
</script>
<script src="/static/js/rss_retriever_5000.js"></script>
{% endblock %}
