{% extends "base.html" %}

{% block title %}Thallium Status{% endblock %}
{% block label %}API frontend / Backend status{% endblock %}

{% block head %}
{% endblock %}

{% block content %}

<!-- Player list templates -->

<template id="player-panel-template">
    <div class="panel flex flex-row justify-between items-center gap-x-3 min-w-62 px-4 z-30">
        <p class="player-name text-sm md:text-xl 2xl:text-lg py-3"></p>
        <div class="flex flex-row items-center gap-x-2">
            <span class="game-name text-agrf-statement md:text-xs text-[0.6rem] text-right"></span>
            <img alt="" class="platform-icon block select-none"/>
        </div>
    </div>
</template>

<template id="filler-panel-template">
    <div class="filler-panel flex flex-row justify-between items-center gap-x-7 min-w-62 px-8 md:py-6.5 py-5.5 z-30"></div>
</template>

<template id="players-empty">
    {% for _ in range(0,9) %}
    <div class="flex flex-row {{ 'bg-white' if loop.index0 % 2 == 0 }} justify-between items-center 2xl:min-w-90 px-8 md:py-6.5 py-5.5 z-30"></div>
    {% endfor %}
    <div class="absolute flex flex-row justify-center items-center w-full h-full z-30">
        <p class="text-base 2xl:text-lg mt-1 text-nc-light-grey">(NO PLAYERS.)</p>
    </div>
</template>

<template id="players-error">
    {% for _ in range(0,9) %}
    <div class="flex flex-row {{ 'bg-white' if loop.index0 % 2 == 0 }} justify-between items-center 2xl:min-w-90 px-8 md:py-6.5 py-5.5 z-30"></div>
    {% endfor %}
    <div class="absolute flex flex-row justify-center items-center w-full h-full z-30">
        <p class="text-sm mt-2 text-nc-fault" id="players-error-message" style="opacity: 1">!!! ERROR FETCHING PLAYERS !!!</p>
    </div>
</template>

<!-- Lobby list templates -->

<template id="lobby-card-template">
    <div class="relative 2xl:bg-transparent 2xl:p-0 bg-white w-max p-4">
        <img src="{{ url_for('static', filename='images/lobby_card_hd.svg') }}" alt="" aria-hidden="true" class="lobby-background max-h-52 select-none hidden 2xl:block"/>
        <div class="2xl:absolute left-0 top-0 2xl:px-3 2xl:h-[31%] flex items-center">
            <p class="md:text-sm sm:text-xs text-xs leading-tight md:max-w-full max-w-60">
                <span class="game-name"></span> lobby<br>
                <span class="lobby-settings"></span>
            </p>
        </div>
        <hr class="w-full border-t-3 my-1 border-nc-light-grey block 2xl:hidden"/>
        <div class="2xl:absolute 2xl:h-[69%] 2xl:pl-4 2xl:pr-7 2xl:pt-2 left-0 bottom-0 2xl:text-xs md:text-sm text-xs w-full flex flex-row justify-between">
            <p class="lobby-participants leading-tight">
            </p>
            <p class="lobby-participants-platforms text-right">
            </p>
        </div>
    </div>
</template>

<template id="filler-card-template">
    <div class="relative 2xl:bg-transparent 2xl:p-0 bg-white w-max p-4 hidden 2xl:block opacity-35">
        <img src="{{ url_for('static', filename='images/lobby_card_blank.svg') }}" alt="" aria-hidden="true" class="2xl:max-h-52 select-none"/>
    </div>
</template>

<template id="lobbies-empty">
    <div class="2xl:absolute top-0 left-0 flex flex-row justify-center items-center h-full w-full z-30l 2xl:max-w-full max-w-60 2xl:px-0 2xl:py-0 px-8 py-10 bg-white 2xl:bg-transparent text-center">
        <p class="text-sm 2xl:text-lg text-nc-light-grey" style="opacity: 0">(NO LOBBIES.)</p>
    </div>

    <div class="flex w-16 items-center justify-center bg-white 2xl:hidden block">
        <span class="rotate-90 text-nc-light-grey text-sm">&lt&ltEOL&gt&gt</span>
    </div>

    {% for _ in range(0,2) %}
    <div class="relative 2xl:bg-transparent 2xl:p-0 bg-white w-max p-4 hidden 2xl:block opacity-35">
        <img src="{{ url_for('static', filename='images/lobby_card_blank.svg') }}" alt="" aria-hidden="true" class="2xl:max-h-52 select-none"/>
    </div>
    {% endfor %}
</template>

<template id="lobbies-empty">
    <div class="2xl:absolute top-0 left-0 flex flex-row justify-center items-center h-full w-full z-30l 2xl:max-w-full max-w-60 2xl:px-0 2xl:py-0 px-8 py-10 bg-white 2xl:bg-transparent text-center">
        <p class="text-sm text-nc-fault" id="lobbies-error-message" style="opacity: 1">!!! ERROR FETCHING LOBBIES !!!</p>
    </div>

    <div class="flex w-16 items-center justify-center bg-white 2xl:hidden block">
        <span class="rotate-90 text-nc-light-grey text-sm">&lt&ltEOL&gt&gt</span>
    </div>

    {% for _ in range(0,2) %}
    <div class="relative 2xl:bg-transparent 2xl:p-0 bg-white w-max p-4 hidden 2xl:block opacity-35">
        <img src="{{ url_for('static', filename='images/lobby_card_blank.svg') }}" alt="" aria-hidden="true" class="2xl:max-h-52 select-none"/>
    </div>
    {% endfor %}
</template>

<!-- Page markup -->

<div class="items-start w-screen px-6 lg:px-28 pt-4 pb-10 lg:pt-12">
    {{ ui.box_title('External Utility') }}
    <img src="{{ url_for('static', filename='images/body_ornament_bold_line.svg') }}" alt="" class="w-5 absolute top-36 left-12 hidden lg:block select-none"/>
    <div class="relative pb-4 pt-12 px-4 lg:pt-14 lg:py-16 lg:px-14 w-full bg-nc-bg flex flex-col 2xl:flex-row gap-y-6 justify-between gap-x-12">
        <img src="{{ url_for('static', filename='images/status_ornament_overview.svg') }}" alt="" class="h-5.5 absolute top-3.5 left-3.5 block select-none"/>
        <img src="{{ url_for('static', filename='images/status_ornament_barcode.svg') }}" alt="" class="h-4.5 absolute top-4 right-4 hidden md:block select-none"/>
        <p class="absolute text-[0.45rem] text-right text-nc-light-grey right-4 bottom-4 leading-tight hidden xl:block">
            EXTERNAL UTILITY LINKED - WSXS CONNECTION ESTABLISHED<br>
            THIS VIEWPORT IS CONTROLLED BY REMOTE HOST 2001:41d0:303:6f39::1/56<br>
            Copyleft 2205 Holocorp Overview v.2.6 (946dda0) This software is licensed under the AGPL license.<br>
            "Overview" and the Holocorp Overview logo aren't registered trademarks of Holocorp corporation.
            This text is a decoration and doesn't have legal significance.
        </p>
        {{ ui.corners() }}

        <!-- Guide (Mobile) -->
        <section class="flex flex-col flex-grow block 2xl:hidden">
            <div>
                <h2 class="flex mb-1 text-xs">
                    <img src="{{ url_for('static', filename='images/text_ornament_tiny_arrow.svg') }}" alt="" aria-hidden="true" class="w-1.5 mx-0.5 select-none"/>
                    INFORMATION
                </h2>
            </div>
            <hr class="w-full border-t-3 border-nc-grey"/>
            <article class="flex 2xl:max-w-85 flex-col relative justify-center items-start">

                <p class="2xl:text-xs md:text-base text-sm px-1.5 py-1.5">
                    Welcome to Holocorp Overview™!<br><br>

                    This utility displays the backend status of Thallium+Beat by AGRF.<br>
                    Lists may be scrollable (in both axis!)<br>
                    Status is updated every 30 seconds or on page refresh.<br><br>

                    <span class="text-nc-light-grey">This utility uses the RPCS3 logo, property of the RPCS3 project, and the PPSSPP logo, property of the PPSSPP project.</span>
                </p>

            </article>
            <hr class="w-full border-t-3 border-nc-grey"/>
        </section>

        <!-- Player list -->
        <section class="flex flex-grow 2xl:max-w-128 min-[1900px]:min-w-120 flex-col">
            <div>
                <h2 class="flex mb-1 text-xs">
                    <img src="{{ url_for('static', filename='images/text_ornament_tiny_arrow.svg') }}" alt="" aria-hidden="true" class="w-1.5 mx-0.5 select-none"/>
                    PLAYER LIST
                </h2>
            </div>
            <hr class="w-full border-t-3 border-nc-grey"/>
            <article class="flex relative flex-col max-h-116 w-full" id="player_list">
                {% for _ in range(0,9) %}
                <div class="flex flex-row {{ 'bg-white' if loop.index0 % 2 == 0 }} justify-between items-center 2xl:min-w-90 px-8 md:py-6.5 py-5.5 z-30"></div>
                {% endfor %}
                <div class="absolute flex flex-row justify-center items-center w-full h-full z-30">
                    <p class="initial-text text-base 2xl:text-lg py-3 text-center px-2 mt-1 text-nc-light-grey" style="opacity: 0">RETRIEVING STATS...</p>
                </div>
            </article>
            <hr class="w-full border-t-3 border-nc-grey z-50"/>
        </section>

        <!-- Lobby list -->
        <section class="flex flex-col">
            <div>
                <h2 class="flex mb-1 text-xs">
                    <img src="{{ url_for('static', filename='images/text_ornament_tiny_arrow.svg') }}" alt="" aria-hidden="true" class="w-1.5 mx-0.5 select-none"/>
                    LOBBY LIST
                </h2>
            </div>
            <hr class="border-t-3 border-nc-grey"/>
            <article class="flex flex-grow max-h-116 w-full 2xl:justify-center justify-start overflow-y-scroll overflow-x-scroll 2xl:bg-none md:bg-[radial-gradient(circle_farthest-corner_at_10%,rgba(222,222,222,0.5),_transparent)]">
                <div class="relative flex 2xl:flex-col flex-row py-2 px-2 2xl:py-4 2xl:px-3 2xl:space-y-4 2xl:space-x-0 space-x-4 max-h-full">

                    <div class="2xl:absolute top-0 left-0 flex flex-row justify-center items-center h-full w-full z-30l 2xl:max-w-full max-w-60 2xl:px-0 2xl:py-0 px-8 py-10 bg-white 2xl:bg-transparent text-center">
                        <p class="initial-text text-sm 2xl:text-lg text-nc-light-grey" style="opacity: 0">RETRIEVING STATS...</p>
                    </div>

                    <div class="flex w-16 items-center justify-center bg-white 2xl:hidden block">
                        <span class="rotate-90 text-nc-light-grey text-sm">&lt&ltEOL&gt&gt</span>
                    </div>

                    {% for _ in range(0,2) %}
                    <div class="relative 2xl:bg-transparent 2xl:p-0 bg-white w-max p-4 hidden 2xl:block opacity-35">
                        <img src="{{ url_for('static', filename='images/lobby_card_blank.svg') }}" alt="" aria-hidden="true" class="2xl:max-h-52 select-none"/>
                    </div>
                    {% endfor %}

                </div>
            </article>
            <hr class="border-t-3 border-nc-grey"/>
        </section>

        <div class="flex flex-col gap-y-6 2xl:gap-y-0 justify-between">
            <!-- Guide (Desktop) -->
            <section class="flex flex-col flex-grow hidden 2xl:block">
                <div>
                    <h2 class="flex mb-1 text-xs">
                        <img src="{{ url_for('static', filename='images/text_ornament_tiny_arrow.svg') }}" alt="" aria-hidden="true" class="w-1.5 mx-0.5 select-none"/>
                        INFORMATION
                    </h2>
                </div>
                <hr class="w-full border-t-3 border-nc-grey"/>
                <article class="flex 2xl:max-w-85 flex-col relative justify-center items-start">

                    <p class="2xl:text-xs md:text-base text-sm px-1.5 py-1.5">
                        Welcome to Holocorp Overview™!<br><br>

                        This utility displays the backend status of Thallium+Beat by AGRF.<br>
                        Lists may be scrollable.<br>
                        Status is updated every 30 seconds or on page refresh.<br><br>

                        <span class="text-nc-light-grey">This utility uses the RPCS3 logo, property of the RPCS3 project, and the PPSSPP logo, property of the PPSSPP project.</span>
                    </p>

                </article>
                <hr class="w-full border-t-3 border-nc-grey"/>
            </section>
            <!-- Server Stats -->
            <section class="flex flex-col">
                <div>
                    <h2 class="flex mb-1 text-xs">
                        <img src="{{ url_for('static', filename='images/text_ornament_tiny_arrow.svg') }}" alt="" aria-hidden="true" class="w-1.5 mx-0.5 select-none"/>
                        BACKEND STATISTICS
                    </h2>
                </div>
                <hr class="w-full border-t-3 border-nc-grey"/>
                <article class="flex w-full flex-col relative justify-between mb-0.5 2xl:text-xs md:text-base text-sm" id="stats">

                    {% set primary_fields =
                    {"Peak Players Online": "peakPlayers",
                    "Logins (Past 24 Hours)": "loginsDay",
                    "Logins (Past Week)": "loginsWeek",
                    "Accounts Registered": "totalAccounts"}%}

                    {% set sub_fields =
                    {"WipEout HD Accounts": "regHD",
                    "WipEout 2048 Accounts": "reg2048",
                    "WipEout Pulse Accounts": "regPulse",
                    "MotorStorm Arctic Edge Accounts": "regMSAE"}%}

                    {% for label, value in primary_fields.items() %}
                    <div class="flex flex-row {{ 'bg-white' if loop.index0 % 2 == 0 }} justify-between items-center px-2 py-1.5 gap-x-7 z-30">
                        <p class="stat-element">{{ label }}</p>
                        <span class="stat-element text-agrf-statement text-right min-w-10" id="{{ value }}">...</span>
                    </div>
                    {% endfor %}

                    {% for label, value in sub_fields.items() %}
                    <div class="flex flex-row {{ 'bg-white' if loop.index0 % 2 == 0 }} justify-between items-center px-2 py-1.5 gap-x-7 z-30">
                        <ul class="stat-element  ml-4 list-disc">
                            <li>{{ label }}</li>
                        </ul>
                        <span class="stat-element text-agrf-statement text-right min-w-10" id="{{ value }}">...</span>
                    </div>
                    {% endfor %}

                </article>
                <hr class="w-full border-t-3 border-nc-grey"/>
            </section>
        </div>

        <section class="flex flex-grow hidden min-[1900px]:block max-w-200">
            <div class="flex flex-grow flex-col min-h-full">
                <div>
                    <h2 class="flex mb-1 text-xs">
                        <img src="{{ url_for('static', filename='images/text_ornament_tiny_arrow.svg') }}" alt="" aria-hidden="true" class="w-1.5 mx-0.5 select-none"/>
                        OUR SPONSOR
                    </h2>
                </div>
                <hr class="border-t-3 border-nc-grey"/>
                <article class="flex flex-grow py-4 px-3">
                    <!-- TODO move ads to a dedicated template file -->
                    <a href="{{ url_for('ad_explainer') }}" class="flex flex-grow">
                        <div title="This is a decoration, not an actual ad! (yet >:) )" class="flex items-center justify-center bg-[rgba(255,255,255,1)] w-full">
                            <img src="{{ url_for('static', filename='images/ad_sayonara_portrait.svg') }}" alt="" aria-hidden="true" class="min-h-0 h-full px-4 py-14 object-contain select-none block min-[2300px]:hidden"/>
                            <img src="{{ url_for('static', filename='images/ad_sayonara_landscape.svg') }}" alt="" aria-hidden="true" class="min-h-0 h-full px-20 py-6 object-contain select-none hidden min-[2300px]:block"/>
                        </div>
                    </a>
                </article>
                <hr class="border-t-3 border-nc-grey"/>
            </div>
        </section>
    </div>
</div>
<script src="/static/js/api_spammer_3000.js"></script>
{% endblock %}
