{% extends "base.html" %}

{% block title %}Thallium Status{% endblock %}
{% block label %}API frontend / Backend status{% endblock %}

{% block head %}
<template id="player-panel-template">
    <div class="panel flex flex-row justify-between ${color} items-center gap-x-3 min-w-62 px-4 z-30">
        <p class="player-name text-base 2xl:text-lg py-3">${playerName}</p>
        <div class="flex flex-row items-center gap-x-2">
            <span class="game-name text-[rgba(113,62,255,1)] text-xs text-right"></span>
            <img alt="" class="platform-icon block select-none"/>
        </div>
    </div>
</template>
<template id="filler-panel-template">
    <div class="filler-panel flex flex-row justify-between items-center gap-x-7 min-w-62 px-8 py-6.5 z-30"></div>
</template>
<template id="players-empty">
    {% for _ in range(0,9) %}
    <div class="flex flex-row {{ 'bg-white' if loop.index0 % 2 == 0 }} justify-between items-center min-w-90 px-8 py-6.5 z-30"></div>
    {% endfor %}
    <div class="absolute flex flex-row justify-center items-center w-full h-full z-30">
        <p class="text-base 2xl:text-lg mt-1 text-[rgba(222,222,222,1)]">NO PLAYERS.</p>
    </div>
</template>
<template id="players-error">
    {% for _ in range(0,9) %}
    <div class="flex flex-row {{ 'bg-white' if loop.index0 % 2 == 0 }} justify-between items-center min-w-90 px-8 py-6.5 z-30"></div>
    {% endfor %}
    <div class="absolute flex flex-row justify-center items-center w-full h-full z-30">
        <p class="text-sm mt-2 text-[rgba(230,7,23,1)]" id="players-error-message" style="opacity: 1">!!! ERROR FETCHING PLAYERS !!!</p>
    </div>
</template>
{% endblock %}

{% block content %}
<div class="items-start w-screen px-6 lg:px-28 pt-4 pb-10 lg:pt-12">
    {{ ui.box_title('External Utility') }}
    <img src="{{ url_for('static', filename='images/body_ornament_bold_line.svg') }}" alt="" class="w-5 absolute top-36 left-12 hidden lg:block select-none"/>
    <div class="relative pb-4 pt-12 px-4 lg:pt-14 lg:py-16 lg:px-14 w-full bg-[rgba(246,246,246,1)] flex flex-col 2xl:flex-row gap-y-6 justify-between gap-x-12">
        <img src="{{ url_for('static', filename='images/status_ornament_overview.svg') }}" alt="" class="h-5.5 absolute top-3.5 left-3.5 block select-none"/>
        <img src="{{ url_for('static', filename='images/status_ornament_barcode.svg') }}" alt="" class="h-4.5 absolute top-4 right-4 hidden md:block select-none"/>
        <p class="absolute text-[0.45rem] text-right text-[rgba(222,222,222,1)] right-4 bottom-4 leading-tight hidden xl:block">
            EXTERNAL UTILITY LINKED - WSXS CONNECTION ESTABLISHED<br>
            THIS VIEWPORT IS CONTROLLED BY REMOTE HOST 2001:41d0:303:6f39::1/56<br>
            Copyleft 2205 Holocorp Overview v.2.6 (946dda0) This software is licensed under the AGPL license.<br>
            "Overview" and the Holocorp Overview logo aren't registered trademarks of Holocorp corporation.
            This text is a decoration and doesn't have legal significance.
        </p>
        {{ ui.corners() }}

        <section class="flex flex-grow 2xl:max-w-128 min-[1900px]:min-w-120 flex-col">
            <div>
                <h2 class="flex mb-1 text-xs">
                    <img src="{{ url_for('static', filename='images/text_ornament_tiny_arrow.svg') }}" alt="" aria-hidden="true" class="w-1.5 mx-0.5 select-none"/>
                    PLAYER LIST
                </h2>
            </div>
            <hr class="w-full border-t-3 border-[rgba(100,100,100,1)]"/>
            <article class="flex relative flex-col max-h-116 w-full" id="player_list">
                {% for _ in range(0,9) %}
                <div class="flex flex-row {{ 'bg-white' if loop.index0 % 2 == 0 }} justify-between items-center min-w-90 px-8 py-6.5 z-30"></div>
                {% endfor %}
                <div class="absolute flex flex-row justify-center items-center w-full h-full z-30">
                    <p class="text-base 2xl:text-lg py-3 mx-18 mt-1 text-[rgba(222,222,222,1)]" id="initial-text" style="opacity: 0">RETRIEVING STATS...</p>
                </div>
            </article>
            <hr class="w-full border-t-3 border-[rgba(100,100,100,1)] z-50"/>
        </section>

        <section class="flex flex-col">
            <div>
                <h2 class="flex mb-1 text-xs">
                    <img src="{{ url_for('static', filename='images/text_ornament_tiny_arrow.svg') }}" alt="" aria-hidden="true" class="w-1.5 mx-0.5 select-none"/>
                    LOBBY LIST
                </h2>
            </div>
            <hr class="border-t-3 border-[rgba(100,100,100,1)]"/>
            <article class="flex flex-grow max-h-116 w-full justify-center overflow-y-scroll">
                <div class="flex flex-col py-2 px-1 2xl:py-4 2xl:px-3 space-y-4 max-h-full">
                    <img src="{{ url_for('static', filename='images/lobby_card_bg.svg') }}" alt="" aria-hidden="true" class="h-max 2xl:max-h-52 select-none"/>
                    <img src="{{ url_for('static', filename='images/lobby_card_bg.svg') }}" alt="" aria-hidden="true" class="h-max 2xl:max-h-52 select-none"/>
                    <img src="{{ url_for('static', filename='images/lobby_card_bg.svg') }}" alt="" aria-hidden="true" class="h-max 2xl:max-h-52 select-none"/>
                </div>
            </article>
            <hr class="border-t-3 border-[rgba(100,100,100,1)]"/>
        </section>

        <section class="flex flex-grow hidden min-[1900px]:block max-w-200">
            <div class="flex flex-grow flex-col min-h-full">
                <div>
                    <h2 class="flex mb-1 text-xs">
                        <img src="{{ url_for('static', filename='images/text_ornament_tiny_arrow.svg') }}" alt="" aria-hidden="true" class="w-1.5 mx-0.5 select-none"/>
                        OUR SPONSOR
                    </h2>
                </div>
                <hr class="border-t-3 border-[rgba(100,100,100,1)]"/>
                <article class="flex flex-grow py-4 px-3">
                    <a href="{{ url_for('ad_explainer') }}" class="flex flex-grow">
                        <div title="This is a decoration, not an actual ad! (yet >:) )" class="flex items-center justify-center bg-[rgba(255,255,255,1)] w-full">
                            <img src="{{ url_for('static', filename='images/ad_sayonara_portrait.svg') }}" alt="" aria-hidden="true" class="min-h-0 h-full px-4 py-14 object-contain select-none block min-[2300px]:hidden"/>
                            <img src="{{ url_for('static', filename='images/ad_sayonara_landscape.svg') }}" alt="" aria-hidden="true" class="min-h-0 h-full px-20 py-6 object-contain select-none hidden min-[2300px]:block"/>
                        </div>
                    </a>
                </article>
                <hr class="border-t-3 border-[rgba(100,100,100,1)]"/>
            </div>
        </section>

        <div class="flex flex-col gap-y-6 2xl:gap-y-0 justify-between">
            <!-- Guide -->
            <section class="flex flex-col flex-grow">
                <div>
                    <h2 class="flex mb-1 text-xs">
                        <img src="{{ url_for('static', filename='images/text_ornament_tiny_arrow.svg') }}" alt="" aria-hidden="true" class="w-1.5 mx-0.5 select-none"/>
                        INFORMATION
                    </h2>
                </div>
                <hr class="w-full border-t-3 border-[rgba(100,100,100,1)]"/>
                <article class="flex 2xl:max-w-85 flex-col relative justify-center items-start">

                    <p class="text-xs px-1.5 py-1.5">
                        Welcome to Holocorp Overview™!<br><br>

                        This utility displays the backend status of Thallium+Beat by AGRF.<br>
                        Lists may be scrollable.<br>
                        Status is updated every 30 seconds or on page refresh.<br><br>

                        <span class="text-[rgba(222,222,222,1)]">This utility uses the RPCS3 logo, property of the RPCS3 project, and the PPSSPP logo, property of the PPSSPP project.</span>
                    </p>

                </article>
                <hr class="w-full border-t-3 border-[rgba(100,100,100,1)]"/>
            </section>
            <!-- Server Stats -->
            <section class="flex flex-col">
                <div>
                    <h2 class="flex mb-1 text-xs">
                        <img src="{{ url_for('static', filename='images/text_ornament_tiny_arrow.svg') }}" alt="" aria-hidden="true" class="w-1.5 mx-0.5 select-none"/>
                        BACKEND STATISTICS
                    </h2>
                </div>
                <hr class="w-full border-t-3 border-[rgba(100,100,100,1)]"/>
                <article class="flex w-full flex-col relative justify-between mb-0.5" id="stats">

                    {% set primary_fields =
                    {"Peak Players Online": "peakPlayers",
                    "Logins (Past 24 Hours)": "loginsDay",
                    "Logins (Past Week)": "loginsWeek",
                    "Accounts Registered": "totalAccounts"}%}

                    {% set sub_fields =
                    {"WipEout HD Accounts": "regHD",
                    "WipEout 2048 Accounts": "reg2048",
                    "WipEout Pulse Accounts": "regPulse",
                    "MotorStorm Arctic Edge Accounts": "regMSAE"}%}

                    {% for label, value in primary_fields.items() %}
                    <div class="flex flex-row {{ 'bg-white' if loop.index0 % 2 == 0 }} justify-between items-center px-2 py-1.5 text-xs gap-x-7 z-30">
                        <p class="stat-element">{{ label }}</p>
                        <span class="stat-element text-[rgba(113,62,255,1)] text-right min-w-10" id="{{ value }}">...</span>
                    </div>
                    {% endfor %}

                    {% for label, value in sub_fields.items() %}
                    <div class="flex flex-row {{ 'bg-white' if loop.index0 % 2 == 0 }} justify-between items-center px-2 py-1.5 text-xs gap-x-7 z-30">
                        <ul class="stat-element  ml-4 list-disc">
                            <li>{{ label }}</li>
                        </ul>
                        <span class="stat-element text-[rgba(113,62,255,1)] text-right min-w-10" id="{{ value }}">...</span>
                    </div>
                    {% endfor %}
                </article>
                <hr class="w-full border-t-3 border-[rgba(100,100,100,1)]"/>
            </section>
        </div>

    </div>
</div>
<script src="/static/js/api_spammer_3000.js"></script>
{% endblock %}
