{% extends "base.html" %}

{% block title %}Hold on!{% endblock %}
{% block label %}Subdirectory view / Undefined{% endblock %}

{% block content %}
<div class="flex items-center justify-center mt-[7%] mb-[3%]">
  <div class="flex flex-col items-start">
    {{ ui.box_title('Info Flyout') }}
    <div class="relative px-20 h-52 bg-white flex items-center justify-center">
      {{ ui.corners() }}

      <div class="text-center">
        <h2 class="text-lg">This page is a stub (WIP)</h2>
      </div>
    </div>
  </div>
</div>
{% endblock %}
